.cabecalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(/Assets/menunovo.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container_botao:checked~.container_rotulo > .cabecalho_menu-hamburguer{
    background-image: url(/Assets/Menu\ Aberto.svg);
}

.container_botao:checked~.container_rotulo{
    background-color: #001e5a;
}

.cabecalho{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
}

.container_imagem{
    padding: 1em;
}

/* a partir daqui */

 .lista-menu{
    display: none;
    position: absolute;
    top: 10%;
    width: 60vw;
}

.container_botao:checked~.lista-menu{
    display: block;
}

.lista-menu_item{
    padding: 1em;
    background-color: #001e5a;
}

.lista-menu_link{
    background: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-family: "K2D", sans-serif;;
}

.container_botao{
    display: none;
} 

.lista-menu_item:hover{
    background-color: #00afef;
}

.lista-menu_item:hover > .lista-menu_link{
    -webkit-text-fill-color: #ffffff;
    text-decoration: none;
}